.container {
  display: flex;
  flex-direction: column;
  .logo {
    height: 20vh;
    margin: 2em;
  }
  .mat-card {
    width: 80vw;
    max-width: 50em;
    margin: auto;
    .form-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .mat-form-field {
        margin: 1em;
      }

      .field {
        &.field-cf {
          flex-grow: 6;
          flex-basis: 100%;
        }
        &.field-name {
          flex-grow: 3;
          flex-basis: 18em;
        }
        &.field-date {
          flex-grow: 2;
          flex-basis: 10em;
        }
        &.field-gender {
          flex-grow: 1;
          flex-basis: 6em;
        }
        &.field-place {
          flex-grow: 3;
          flex-basis: 16em;
          input {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
