<div class="container">
  <img
    class="logo"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <mat-card>
    <mat-card-header>
      <mat-card-title>Codice Fiscale Utils</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="cfFormGroup" class="form-content">
        <mat-form-field appearance="outline" class="field field-cf" [ngClass]="{'mat-form-field-invalid': cfMismatchErrors.length}">
          <mat-label>Codice Fiscale</mat-label>
          <input
            matInput
            name="codiceFiscale"
            formControlName="codiceFiscale"
            maxlength=16
            required
          >
          <mat-error>
            <span *ngFor= "let error of cfFormGroup.controls.codiceFiscale.errors | keyvalue; let first = first; let last = last" [ngSwitch]="error.key">
              <span [ngSwitch]="first">
                <span *ngSwitchCase="true">Il Codice Fiscale </span>
                <span *ngSwitchDefault [ngSwitch]="last">
                  <span *ngSwitchDefault>, </span>
                  <span *ngSwitchCase="true"> e </span>
                </span>
              </span>
              <span *ngSwitchCase = "'required'">è obbligatorio </span>
              <span *ngSwitchCase = "'minlength'">deve essere di {{error.value.requiredLength}} caratteri </span>
              <span *ngSwitchCase = "'invalidFormat'">non è formalmente valido </span>
              <span *ngSwitchDefault>è {{ error.key }}</span>
            </span>
          </mat-error>
          <mat-hint class="mat-error">
            <span *ngIf="cfMismatchErrors.length">Sono presenti discrepanze tra il codice fiscale</span>
            <span *ngFor= "let error of cfMismatchErrors; let last = last;" [ngSwitch]="error.key">
              <span [ngSwitch]="last">
                <span *ngSwitchDefault>, </span>
                <span *ngSwitchCase="true"> e </span>
              </span>
              <span *ngSwitchCase = "'cfLastNameMismatch'">il cognome</span>
              <span *ngSwitchCase = "'cfFirstNameMismatch'">il nome</span>
              <span *ngSwitchCase = "'cfBirthDateMismatch'">la data di nascita</span>
              <span *ngSwitchCase = "'cfGenderMismatch'">il sesso</span>
              <span *ngSwitchCase = "'cfBirthPlaceMismatch'">il luogo di nascita</span>
              <span *ngSwitchDefault>{{ error.key }}</span>
            </span>
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field field-name" [ngClass]="{'mat-form-field-invalid': cfFormGroup.errors?.cfLastNameMismatch}">
          <mat-label>Cognome</mat-label>
          <input
            required
            matInput
            name="lastName"
            formControlName="lastName"
          >
          <mat-error>
            <span *ngFor= "let error of cfFormGroup.controls.lastName.errors | keyvalue; let first = first; let last = last" [ngSwitch]="error.key">
              <span [ngSwitch]="first">
                <span *ngSwitchCase="true">Il Cognome </span>
                <span *ngSwitchDefault [ngSwitch]="last">
                  <span *ngSwitchDefault>, </span>
                  <span *ngSwitchCase="true"> e </span>
                </span>
              </span>
              <span *ngSwitchCase = "'required'">è obbligatorio </span>
              <span *ngSwitchCase = "'minlength'">deve essere di {{error.value.requiredLength}} caratteri </span>
              <span *ngSwitchCase = "'invalidFormat'">non è formalmente valido </span>
              <span *ngSwitchDefault>è {{ error.key }}</span>
            </span>
          </mat-error>
          <mat-hint class="mat-error" *ngIf="cfFormGroup.errors?.cfLastNameMismatch">
            Il cognome presenta una discrepanza con il codice fiscale
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field field-name" [ngClass]="{'mat-form-field-invalid': cfFormGroup.errors?.cfFirstNameMismatch}">
          <mat-label>Nome</mat-label>
          <input
            required
            matInput
            name="firstName"
            formControlName="firstName"
          >
          <mat-error>
            <span *ngFor= "let error of cfFormGroup.controls.firstName.errors | keyvalue; let first = first; let last = last" [ngSwitch]="error.key">
              <span [ngSwitch]="first">
                <span *ngSwitchCase="true">Il Nome </span>
                <span *ngSwitchDefault [ngSwitch]="last">
                  <span *ngSwitchDefault>, </span>
                  <span *ngSwitchCase="true"> e </span>
                </span>
              </span>
              <span *ngSwitchCase = "'required'">è obbligatorio </span>
              <span *ngSwitchCase = "'minlength'">deve essere di {{error.value.requiredLength}} caratteri </span>
              <span *ngSwitchCase = "'invalidFormat'">non è formalmente valido </span>
              <span *ngSwitchDefault>è {{ error.key }}</span>
            </span>
          </mat-error>
          <mat-hint class="mat-error" *ngIf="cfFormGroup.errors?.cfFirstNameMismatch">
            Il nome presenta una discrepanza con il codice fiscale
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field field-date" [ngClass]="{'mat-form-field-invalid': dateMismatchErrors.length}">
          <mat-label>Data di nascita</mat-label>
          <input
            required
            matInput
            [matDatepicker]="birthDatePicker"
            [min]="minDate"
            [max]="maxDate"
            placeholder="Seleziona una data"
            name="birthDate"
            formControlName="birthDate"
          >
          <mat-error>
            <span *ngFor= "let error of cfFormGroup.controls.birthDate.errors | keyvalue; let first = first; let last = last" [ngSwitch]="error.key">
              <span [ngSwitch]="first">
                <span *ngSwitchCase="true">La data di nascita </span>
                <span *ngSwitchDefault [ngSwitch]="last">
                  <span *ngSwitchDefault>, </span>
                  <span *ngSwitchCase="true"> e </span>
                </span>
              </span>
              <span *ngSwitchCase = "'required'">è obbligatoria </span>
              <span *ngSwitchCase = "'matDatepickerParse'">non è formalmente valida </span>
              <span *ngSwitchCase = "'matDatepickerMin'"> non può essere precedente al {{error.value.min | date}}</span>
              <span *ngSwitchCase = "'matDatepickerMax'"> deve essere precedente ad oggi</span>
              <span *ngSwitchDefault>è {{ error.key }}</span>
            </span>
          </mat-error>
          <mat-hint class="mat-error">
            <span *ngFor= "let error of dateMismatchErrors; let first = first; let last = last" [ngSwitch]="error.key">
              <span [ngSwitch]="first">
                <span *ngSwitchCase="true">La data di nascita presenta discrepanze con </span>
                <span *ngSwitchDefault [ngSwitch]="last">
                  <span *ngSwitchDefault>, </span>
                  <span *ngSwitchCase="true"> e </span>
                </span>
              </span>
              <span *ngSwitchCase = "'cfBirthDateMismatch'">il codice fiscale</span>
              <span *ngSwitchCase = "'birthDatePlaceMismatch'">il luogo di nascita</span>
            </span>
          </mat-hint>
          <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #birthDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field field-gender" [ngClass]="{'mat-form-field-invalid': cfFormGroup.errors?.cfGenderMismatch}">
          <mat-label>Sesso</mat-label>
          <mat-select
            required
            name="gender"
            formControlName="gender"
          >
            <mat-option>(Seleziona)</mat-option>
            <mat-option value="M">Maschio</mat-option>
            <mat-option value="F">Femmina</mat-option>
          </mat-select>
          <mat-error>
            <span *ngFor= "let error of cfFormGroup.controls.gender.errors | keyvalue; let first = first; let last = last" [ngSwitch]="error.key">
              <span [ngSwitch]="first">
                <span *ngSwitchCase="true">Il sesso </span>
                <span *ngSwitchDefault [ngSwitch]="last">
                  <span *ngSwitchDefault>, </span>
                  <span *ngSwitchCase="true"> e </span>
                </span>
              </span>
              <span *ngSwitchCase = "'required'">è obbligatorio </span>
              <span *ngSwitchDefault>è {{ error.key }}</span>
            </span>
          </mat-error>
          <mat-hint class="mat-error" *ngIf="cfFormGroup.errors?.cfGenderMismatch">
            Il sesso presenta una discrepanza con il codice fiscale
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field field-place">
          <mat-label>Area di nascita</mat-label>
          <input
            type="text"
            name="area"
            formControlName="area"
            matInput
            required
            placeholder="Provincia o estero"
            [matAutocomplete]="autoArea"
          >
          <mat-autocomplete #autoArea="matAutocomplete" autoActiveFirstOption [displayWith]="displayArea">
            <mat-option *ngFor="let area of filteredAreas | async" [value]="area">
              {{displayArea(area)}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field field-place" [ngClass]="{'mat-form-field-invalid': placeMismatchErrors.length}">
          <mat-label>Luogo di nascita</mat-label>
          <input
            type="text"
            name="place"
            formControlName="place"
            matInput
            required
            [matAutocomplete]="autoPlace"
          >
          <mat-autocomplete #autoPlace="matAutocomplete" autoActiveFirstOption [displayWith]="displayPlace">
            <mat-option *ngFor="let place of filteredPlaces | async" [value]="place">
              {{place?.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error>
            <span *ngFor= "let error of cfFormGroup.controls.place.errors | keyvalue; let first = first; let last = last" [ngSwitch]="error.key">
              <span [ngSwitch]="first">
                <span *ngSwitchCase="true">Il luogo di nascita </span>
                <span *ngSwitchDefault [ngSwitch]="last">
                  <span *ngSwitchDefault>, </span>
                  <span *ngSwitchCase="true"> e </span>
                </span>
              </span>
              <span *ngSwitchCase = "'required'">è obbligatorio </span>
              <span *ngSwitchCase = "'nonexistent'">è inesistente</span>
              <span *ngSwitchCase = "'scopeNonexistent'">non corrisponde ad una possibile scelta per l'area selezionata</span>
              <span *ngSwitchCase = "'minlength'">deve essere di almeno due caratteri</span>
              <span *ngSwitchDefault>è {{ error.key }}</span>
            </span>
          </mat-error>
          <mat-hint class="mat-error">
            <span *ngFor= "let error of placeMismatchErrors; let first = first; let last = last" [ngSwitch]="error.key">
              <span [ngSwitch]="first">
                <span *ngSwitchCase="true">Il luogo di nascita presenta discrepanze con </span>
                <span *ngSwitchDefault [ngSwitch]="last">
                  <span *ngSwitchDefault>, </span>
                  <span *ngSwitchCase="true"> e </span>
                </span>
              </span>
              <span *ngSwitchCase = "'cfBirthPlaceMismatch'">il codice fiscale</span>
              <span *ngSwitchCase = "'birthDatePlaceMismatch'">la data di nascita</span>
            </span>
          </mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
